/* style.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ececed;
  color: #0a0101;
  scroll-behavior: smooth;
}

.header {
  background-color: #0845a0;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #4e749d;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.risk-level {
  text-align: center;
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

#profile .box, #history .box {
  flex: 1 1 45%;
  border: 2px solid #0a7c8b;
  text-align: center;
  font-weight: bold;
  background: hsl(204, 14%, 93%);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.send-options {
  margin-top: 10px;
}
.send-options a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #0a7c8b;
}